
fastapi             
uvicorn[standard]    
python-dotenv         
pandas                
numpy          
pydantic         

langchain             
langchain-google-genai
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
huggingface_hub

